<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <!--扫描含有controller的包-->
    <context:component-scan base-package="com.cnspringmvc.demo.controller"/>
    <!--mvc:annotation-driven标签表示注册用于注解控制器的请求处理方法的bean对象-->
    <mvc:annotation-driven/>
    <!--mvc:resource标签表示单独处理静态资源，而不通过 Dispatcher Servlet-->
    <!--使得 /css 目录下的所有文件可见，以及允许显示所有的 html 文件-->
    <mvc:resources mapping="/css/**" location="/css/"/>
    <mvc:resources mapping="/*.html" location="/"/>

<!--    <bean name="/product_input.action" class="com.cnspringmvc.demo.controller.InputProductController"/>
    <bean name="/product_save.action" class="com.cnspringmvc.demo.controller.SaveProductController"/>
-->

    <!--视图解析器，负责解析视图-->
    <!--配置了前缀和后缀，以前访问 /WEB-INF/jsp/myPage.jsp，现在直接访问 myPage 即可。-->
    <!--需要修改controller中的页面文件的路径-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
</beans>