<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Archetype Created Web Application</display-name>

    <!-- springmvc 配置文件-->
    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <!-- 使用自定义的配置文件，名字contextConfigLocation是确定的，路径是相对路径 -->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/config/springmvc-config.xml</param-value>
        </init-param>
        <!-- 若有on-startup，则在应用程序启动时装载servlet并调用它的init方法 -->
        <!-- 若没有on-startup，则该servlet在第一个请求时加载 -->
        <!--值 1 表示第一个被加载。如果有2，3...，会依次按顺序加载-->
        <load-on-startup>1</load-on-startup>

        <!--Servlet3.0版本或更高提供的上传功能-->
        <multipart-config>
            <!--上传文件的最大容量，超过最大容量会拒绝。默认 -1 表示没有限制。-->
            <max-file-size>20848820</max-file-size>
            <!--多部分HTTP请求允许的最大容量。默认 -1 表示没有限制。-->
            <max-request-size>418018841</max-request-size>
            <!--上传文件超过这个容量界限时，会被写入磁盘-->
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>

    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <!-- 将所有的URl映射到该servlet，包括静态资源 -->
         <url-pattern>/</url-pattern>
        <!--<url-pattern>*.action</url-pattern>-->
    </servlet-mapping>
</web-app>
